* {
    margin: 0;
    border: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body {
    height: 100%;
}

/*MENU*/

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 1vw;
    box-shadow: 0px -5px 10px black;
    height: 10vh;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 1em;
}

.text_menu:hover {
    color: green;
}

a {
    outline: none;
    color: black;
    text-decoration: none;
}

button {
    cursor: pointer;
    transition: .3s;    
}

.enter {
    border: 1px black solid;
    border-radius: 50px;
    width: 75px;
    height: 30px;
}

.coop {
    border: 1px black solid;
    border-radius: 50px;
    width: 125px;
    height: 30px;
    background-color: black;
    color: white;
}

.enter:hover {
    transform: scale(0.9,0.9);
    box-shadow: 0px 2px 3px black;
    background-color: #ccc;
}

.coop:hover {
    transform: scale(0.9,0.9);
    box-shadow: 0px 2px 3px black;
}

/* SLIDE */
input[type=radio] {
    display: none;
}

.container {
    background-color: green;
    width: 75%;
    display: flex;
    align-items: center;
    margin-left: 12.5%;
    overflow: hidden;
    justify-content: center;
    align-items: end;
}

.slides {
    display: flex;
    width: 300%;
    height: 100%;
}

.slide {
    transition: .6s;
    width: 33.3%;
}

#b1:checked ~ .s1 {
    margin-left: 33.3%;
}

#b2:checked ~ .s1 {
    margin-left: 0%;
}

#b3:checked ~ .s1 {
    margin-left: -33.3%;
}

.navegation {
    position: absolute;
    display: flex;
}

.nav_button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
    opacity: 0.5;
}

/*SOBRE*/
.main_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main_content > div {
    margin: 1em;
}

.little_about {
    background-color: #ccc;
    width: 73%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

.text {
    display: inline-block;
    padding: 2%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.more {
    border: 1px green solid;
    border-radius: 50px;
    width: 90px;
    height: 30px;
    color: green;
}

.more:hover {
    transform: scale(0.9,0.9);
    box-shadow: 0px 2px 3px black;
    background-color: #ccc;
}

.about {
    width: 75%;
    background-color: #ccc;
    height: auto;
    display: flex;
}

.img {
    width: 60%;
    height: auto;
}

.img_cube {
    width: 50%;
    height: auto;
}

.about_right {
    flex-direction: row-reverse;
    width: 75%;
    background-color: #ccc;
    height: auto;
    display: flex;
}

.info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    padding-top: 4%;
    padding-left: 1%;
    padding-bottom: 4%;
    
}

.info_tit {
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.info_text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 10%;
    letter-spacing: 1px;
}

.info_button {
    border: 1px black solid;
    border-radius: 50px;
    width: auto;
    height: 40px;
    color: black;
}

.info_button:hover {
    transform: scale(0.9,0.9);
    box-shadow: 0px 2px 3px black;
    background-color: #ccc;
}

/*RODAPÉ*/
.footer_main {
    box-shadow: 0px 5px 10px black;
}
.footer_info {
    display: flex;
    justify-content: start;
    padding: 5%;
}

.div_footer {
    display: flex;
    flex-direction: column;
    width: 10vw;
    justify-content: start;
}

.footer_tit {
    font-size: 21px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 5%;
}

.footer_text {
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 6%;
    padding-left: 0;
    letter-spacing: 1px;
    opacity: 0.7;
}

.footer_text:hover {
    color: green;
}

.footer_img_link {
    height: 7vh;
    padding-left: 2%;
}

hr {
    border-top: 1px solid black;
    padding: 1%;
}

.footer_social {
    padding: 4%;
}

.img_social {
    display: flex;
    justify-content: start;
    gap: 15px;
}

.img_mini {
    width: 40px;
    transition: .2s;
    gap: 10px;
    cursor: pointer;
}

.img_mini:hover {
    transform: scale(1.1,1.1);
}

.politica {
    margin-top: 1%;
}

.link_politica {
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}

.link_politica:hover {
    color: green;
}

/*COOKIE*/
#cookie {
    position: fixed;
    bottom: 0;
    background-color: green;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text_cookie {
    color: white;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}

.button_cookie {
    border: 1px white solid;
    border-radius: 50px;
    width: auto;
    height: 40px;
    color: white;
    background-color: green;
}

.button_cookie:hover {
    transform: scale(0.9,0.9);
    box-shadow: 0px 2px 3px black;
}

.link_cookie {
    color: white;
}
